.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
}
.header__navbar-item {
  margin: 0 6px;
  position: relative;
}
.header__navbar-item--has-qr:hover .header__qr,
.header__navbar-item--has-languages:hover .header__languages,
.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}
.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}
.header__navbar-item-link:hover,
.header__navbar-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__navbar-item-link--bold {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 12px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
  opacity: 1;
}
/* Header QR Code */
.header__qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  top: 150%;
  left: 0;
  padding: 8px;
  border-radius: 5px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}
.header__qr::before {
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
  content: "";
  display: block;
}
.header__qr-img {
  width: 100%;
}
.header__qr-apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__qr-link:nth-child(odd) {
  margin-left: 10px;
}
.header__qr-link:nth-child(even) {
  margin-right: 10px;
}
.header__qr-download-img {
  height: 16px;
}

/* Languages */
.header__languages {
  background-color: var(--white-color);
  position: absolute;
  width: 180px;
  top: 140%;
  right: 0;
  padding: 10px;
  border-radius: 5px;
  display: none;
  animation: fadeIn ease 0.1s;
}
.header__language-TV {
  margin-bottom: 20px;
}
.header__language-TV,
.header__language-TA {
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--black-color);
  font-weight: 400;
}

.header__language-TV:hover,
.header__language-TA:hover {
  color: #f53e2d;
  font-weight: 400;
}

/* Notification */
.header__notify {
  position: absolute;
  background-color: var(--white-color);
  width: 404px;
  top: 150%;
  right: 0;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifyGrowth ease-in 0.25s;
  will-change: opacity, transform;
  display: none;
}
.header__languages::before,
.header__notify::before {
  position: absolute;
  top: -30px;
  right: 15px;
  content: "";
  border-width: 20px 28px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}
.header__languages::after,
.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  right: 0;
  width: 150px;
  height: 12px;
}
@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}
.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 40px;
}
.header__notify-body {
  background-color: rgba(255, 75, 43, 0.09);
}
.header__notify-list {
  padding-left: 0;
}
/* .header__notify-item {
} */
.header__notify-item--viewed {
  background-color: var(--white-color);
}
.header__notify-item:hover {
  background-color: #f7f7f7;
}
.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
}
.header__notify-img {
  width: 48px;
  object-fit: contain;
}
.header__notify-info {
  margin-left: 12px;
}
.header__notify-title {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: 400;
}
.header__notify-description {
  padding: 0;
  margin: 0;
  margin-top: 4px;
  font-size: 1.2rem;
  color: #756f6e;
}
.header__notify-footer {
  text-align: center;
  background-color: var(--white-color);
}
.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 32px;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
}
.header__notify-footer:hover {
  background-color: #f7f7f7;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Authen modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}
.auth-form-aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}
.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}
.auth-form__controls {
  margin-top: 80px;
  text-align: right;
}

/* auth-form__socials */
.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.auth-form__socials--fb {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials--gg {
  color: var(--black-color);
  background-color: var(--white-color);
}
.auth-form__socials--fb,
.auth-form__socials--gg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials-title {
  margin: 0 24px;
}
